.z1{
    background: linear-gradient(rgb(0, 255, 0),rgb(0, 75, 0));
    transition: background 0.3s ease;
    height: 50;
    width: 150;
    text-align:center;
    line-height: 50px;
    border-radius: 15px;
}
.z1:hover{
    background: linear-gradient(rgb(0, 235, 0),rgb(0, 55, 0));
}
body{
    background: url("clouds.png") repeat-x fixed -130% 0,
    url("stars-2.png") repeat-x fixed 40% 0,
    url("space-bg.png") repeat-x fixed -80% 0,
    url("clouds.png") repeat-x fixed 100% 0;
    background-color: #1a1a1a;
}
ul.z2 li {
    color: rgba(255, 255, 255,0.7);
    display: inline; 
    text-shadow: -3px -3px 1px rgba(0, 0, 0);
    margin: 5px; 
    padding: 5px; 
}
ul.z2 li:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: background 0.3s ease;
}
ul.z3 li{
    display: inline; 
    opacity: 0.5;
}
ul.z3 li:hover{
    opacity: 1;
    transition: opacity 0.3s ease;
}
ul.z4 li{
    display: inline; 
}
ul.z4 li:hover img{
    transform: scale(1.5);
}
.z5{
    display: block;
    padding: 5px;
}
.z5 fieldset {
    margin: 10px;
    padding: 10px;
}
.z5 fieldset p {
    color: rgba(0, 0, 0, 0.5) !important;
    text-shadow: 0px 1px 1px white;
    font-size: 25;
}
.z5 fieldset input[type = "submit"]{
    border-radius: 10px;
    height: 25;
    background: linear-gradient(rgb(255, 255, 255),rgb(165, 165, 165));
    font-weight: bold;
}
.z5 fieldset input[type = "text"]{
    border-radius: 5px;
    height: 25;
    background: linear-gradient(rgb(165, 165, 165), rgb(255, 255, 255));
    font-weight: bold;
}
.z5 fieldset input[type = "text"]:focus{
    animation: anim 3s infinite;
}
@keyframes anim {
    0%{
        box-shadow: 0px 0px 10px rgba(0, 0, 255, 0);
    }
    50%{
        box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.5);
    }
    100%{
        box-shadow: 0px 0px 10px blue;
    }   
}