body {
   background:url(header.jpg) -250px 0px no-repeat, url(page.png) 100% 50%;
   background-position-x: center;
   background-color: white;
}
.verticalRect {
   margin-left: -8px;
   width :100%;
   height: 32px;
   position: absolute;
   top:250px;
   background:linear-gradient(rgb(70,70,70), rgb(112,112,112));
   border: 1px white;
   border-style: solid none none none;
   z-index: 1;
}
.main {
   width: 900px;
   height: 100%;
   position: relative;
   margin: -8px auto;
}
.top {
   height: 250px;
}
.middle {
   width: 898px;
   height: 32px;
   top:251px;
   z-index: 1;
   position: absolute;
   border: 1px rgba(255, 255, 255, 0.3);
   border-style: none solid;
   background:linear-gradient(rgb(43,43,43), rgb(93,93,93));
   justify-content: center;
}
.pos_abs {
   position: absolute;
   z-index: 2;
   height: 100%;
}
.object0 {
   position: absolute;
   top: -86px;
   right:0;
   z-index: 0;
   user-select: none;
}
.content1 {
   position: relative;
   border: 1px rgba(128,128,128,0.1);
   border-style: none solid;
   margin-top: 33px;
   height: 100%;
   z-index: 1;
   background: url(page.png) rgb(255, 255, 255);
   box-shadow: 0 0 3px 2px rgb( 0 0 0 /3%);
}
.rasscaz {
   font-size: 60px;
   font-weight: bold;
   color:rgb(37, 37, 37);
   position: absolute;
   margin-top: 65px;
   margin-left: 10px;
}
.rasscaz2 {
   color: rgb(230, 230, 230);
   font-size: 20px;
   position: absolute;
   margin-top: 133px;
   margin-left: 13px;
}
p {
   font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.ptextstyle {
   color : #175978;
   font-size: 12px;
   padding: 5px;
   margin-top: 7;
   margin-left: 12px;
   margin-right: 7;
}
.typetext {
   border-width: 0;
   margin: 10px;
   margin-right: 7px;
   width: 200px;
}
.typebutton {
   position: absolute;
   border-width: 0;
   background: rgb(170, 170, 170);
   color:rgb(255,255,255);
   left: 155;
   top: 190;/*186*/
}
.ptextstyle a:hover { 
   color:#175978!important;
   text-decoration: none !important;
}
.right{
	list-style:url('blockbullets.png');
	font-size: 14px;
	font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.right>a{
   color:rgb(67, 171, 219)!important;
}
.right > a:visited{
	color:#43abdb!important;
}
.mpos_abs {
   position: absolute;
}
.about {
   width: 225px;
   height: 100%;
   background: rgb(232,232,232);
   position: absolute;
   right: 0;
}
.imgicon {
   margin-left: 13;
}
.picon {
   font-size: 12px;
   color:#43abdb;
}
.menu {
   display: flex;
   list-style-type: none;
   padding-inline-start: 0;
   height: 100%;
   margin: 0;
}
.flex-item {
   line-height: 32px;
}
.flex-item > a{
   padding: 0 22px;
   text-align: center;
   text-align: center;
   font-size: 14px;
   color: #c2c2c2;
   height: 100%;
   text-decoration: none;
   font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.flex-item:hover {
   background-color: rgb(173, 173, 173);
   color:rgb(85, 85, 85);
}
.flex-item a.current {
   color:rgb(70, 130, 180);
}
li.flex-item.c {
   background:linear-gradient(rgb(195,195,195),rgb(255,255,255));
}
footer ul.hr {
	margin: 0; 
	padding: 4px;
}
footer ul.hr li {
   display: inline; 
}
footer ul li{
   color: #eeeeee;
   font-size: 11px;
}
footer ul li a{
   color: #eeeeee;
   font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-size: 11px;
}
.contentmain{
   width: 100%;
   /*background-color: rgb(23, 89, 120);*/
   height: 100%;
   display: block;
}  
.content-flex{
   order: 1;
   flex-direction: column;
   width: 650;
   background: rgba(255, 255, 255, 0.5);
   position: relative;
   margin: 12;
   padding-top: 1;
   border: #eeeeee;
   border-width: 1;
   border-style: solid;
   border-radius: 5px;
}
.content-flex p {
   color: #43abdb;
   font-size: 20;
   font-weight: bold;
   margin-left: 20;
   margin-top: 10;
   margin-bottom: 0;
}
.content-flex div{
   width: 100%;
   margin-top: 0;
}
.content-flex div p{
   color: rgb(160,160,160);
   font-size: 11;
   margin-top: 0;
}
.content-flex div p a{
   color: rgb(160,160,160);
   font-size: 11;
}
.content-flex div p a:hover{
   color: rgb(160,160,160);
   font-size: 11;
}
.postcontent{
   position: relative;
   float: left;
   margin:10;
   margin-left: 25;
   border: #838383;
   border-width: 1;
   border-style: solid;
}
.postcontenttext{
   position: relative;
   right:0;
   margin-right:13 ;
   color:black !important;
   font-size: 12 !important;
   font-weight: bold !important;
   font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif !important;
}
.p1{
   position: relative;
   color: black !important;
   font-size: 12 !important;
   font-weight: 100 !important;
   margin-right:13 ;
   font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.more{
   color:#43abdb ;
   font-size: 14 !important;
   margin-left: 20;
   font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.comment{
   color: #838383;
   font-size: 14 !important;
   margin-left: 20;
   font-family: 'Century Gothic', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   margin-bottom: 10;
}
.more:hover{
   color:#327594 ;
}
.comment:hover{
   color: #5e5e5e;
}
a:hover{
   text-decoration: none;
}